:root {
    --bg-color: #7e7b7b; /* Gris claro de fondo */
    --text-color: #ffffff;
    --accent-color: #ffffff;
    --gris-claro: #e9e9e9;
}
/*Fuentes*/
@font-face {
    font-family: 'The Seasons';
    src: url('../fonts/TheSeasons/fonnts.com-theseasons-bd.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'The Seasons';
    src: url('../fonts/TheSeasons/fonnts.com-theseasons-bdit.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'The Seasons';
    src: url('../fonts/TheSeasons/fonnts.com-theseasons-it.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'The Seasons';
    src: url('../fonts/TheSeasons/fonnts.com-theseasons-reg.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'The Seasons';
    src: url('../fonts/TheSeasons/fonnts.com-theseasons-lt.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'The Seasons';
    src: url('../fonts/TheSeasons/fonnts.com-theseasons-ltit.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: black;
    color: var(--text-color);
    overflow-x: hidden;
}

/*Text Styles*/
.title {
    font-family: 'The Seasons', serif;
    font-size: 4rem;
    line-height: 1;
    font-weight: 400;
    letter-spacing: -2px;
    margin-bottom: 2rem;
    text-transform: uppercase;
}
.subtitle {
    font-family: 'The Seasons', serif;
    font-size: 3rem;
    line-height: 1;
    font-weight: 400;
    letter-spacing: -2px;
    margin-bottom: 2rem;
}
.description {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 2.5rem;
    font-weight: 300;
    font-family: 'Montserrat';
}
p{
    font-family: 'Montserrat';
}
.italic-serif{
    font-style: italic;
}
.btn-1 {
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid var(--text-color);
    text-decoration: none;
    color: var(--text-color);
    font-size: 0.9rem;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}
.btn-2 {
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid black;
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}
#container-1, #container-2, #container-3, #container-4, #container-5, #container-6{
    padding: 10rem 8rem;
}
/* Container 1 */
#container-1{
    background-color: var(--bg-color);
}
/* Container 2 */
#container-2{
    background-color: #ffffff;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}



/*Container 6 - Feedback*/
#container-6{
    background-color: var(--gris-claro);
}
#feedback-grid{
    max-width: 100vw;
    max-height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    column-gap: 1rem;
}
#fdb1, #fdb2, #fdb3{
    max-width: 100%;
    align-self: flex-end;
}
#fdb1{
    grid-column: 1/2;
    grid-row: 3/4;
}
#fdb2{
    grid-column: 2/3;
    grid-row: 4/2;
}
#fdb3{
    grid-column: 3/4;
    grid-row: 1/4;
    left: 0;
}
#feedback-grid h2{
    grid-column: 1/3;
    grid-row: 1/2;
    color: black;
    align-self: flex-start;
    margin: 0;
}
#feedback-grid p{
    grid-column: 1/2;
    grid-row: 2/3;
    color: black;
    margin: 0;
    align-self: flex-start;
}




/*Animacion FAQ*/
.faq-quest{
    transition: margin-bottom 0.5s ease;
}
.faq-ans{
     max-height: 0;
     overflow: hidden;
     transition: max-height 0.5s ease;
}
.faq-ans.activo{
    max-height: 500px;
}
/*Animacion Etapas*/
.module-list{
    transition: margin-bottom 0.5s ease;
}
.module-detail{
     max-height: 0;
     overflow: hidden;
     transition: max-height 0.5s ease;
}
.module-detail.activo{
    max-height: 1000px;
}
